
body{
  padding-bottom: 1000px;
}


.card{
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.767);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background: linear-gradient(to bottom,rgb(255, 255, 255),rgb(0, 179, 255),rgb(0, 90, 174));
}
.card-image{
  max-width: 60%;
  height: auto;
  border-radius: 15%;
  margin-bottom: 10px;
}
.card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: greenyellow;
}
.card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 255, 0);
  font-weight: 600;
}


.button{
  background-color: rgb(34, 255, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}


.student{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2.5em;
  background-color: greenyellow;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-prompt{
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.listCategory{
  font-size: 2.5em;
  font-weight: bold;
  color: antiquewhite;
  background-color: rgba(255, 115, 0, 0.9);
  border-radius: 10px;
  text-align: center;
  border: 2px double black;
}
.listItems{
  font-size: 2em;
  list-style: none;
}
.listItems li:hover{
  color:rgb(255, 0, 0) ;
  transition: 200ms ease;
}

.Button1{
  margin: 5px;
  padding: 5px 10px;
  background-color: antiquewhite ;
  border: none;
  display: block;
}


.MyComponentDiv{
  display:flex;
  flex-direction: column;
  max-width:fit-content;
}

.MyComponentButton{
  display: flex;
  margin: 2px;
  padding: 5px 10px;
  background-color:aquamarine;
  border: none;
}

.counterContainer{
  display: block;
  background: radial-gradient(circle, #ffee00, #00ff2a);
  max-width: fit-content;
  padding: 10px 20px;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  transition: 1s;
}
.counterContainerButton{
  padding: 3px 7px;
  margin: 5px;
  background-color: rgba(0, 255, 170, 0.834);
  border: none;
  font-size: 1em;
  border-radius: 10px;
  transition: .8s;
}
.counterContainerButton:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.722);
}
